[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/wandbox-vim"]
	path = .vim/bundle/wandbox-vim
	url = https://github.com/rhysd/wandbox-vim.git
