[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/wandbox-vim"]
	path = .vim/bundle/wandbox-vim
	url = https://github.com/rhysd/wandbox-vim.git
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule ".vim/bundle/alignta"]
	path = .vim/bundle/alignta
	url = https://github.com/h1mesuke/vim-alignta.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/vim-erlang-runtime"]
	path = .vim/bundle/vim-erlang-runtime
	url = https://github.com/vim-erlang/vim-erlang-runtime
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
